.tag {
  font-family: "AfacadFlux", sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 50px;
  transition: background 0.3s ease, color 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
