.ExperienceBar {
  color: var(--primary-black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.ExperienceBar__company-years {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 25%;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.ExperienceBar__years {
  white-space: nowrap;
}
.ExperienceBar_header,
.ExperienceBar__company-years_header {
  font-weight: 400;
}
