.hero {
  width: 100%;
  height: 100dvh;
  padding: 5%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: hidden;
  gap: 0;
}

.hero__intro {
  width: 100%;
  max-width: 50%;
  font-weight: 700;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__avatar {
  width: 100%;
  max-width: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
