.hero {
  width: 100%;
  height: 100dvh;
  padding: 5%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: hidden;
}

.hero__intro {
  width: 50%;
}

.hero__avatar {
  max-width: 50%;
}

.avatar {
  max-width: 100%;
  max-height: 100%;
}
