.hero {
  width: 100%;
  height: 100dvh;
  padding: 5%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.hero__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.hero__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 120px;
  letter-spacing: -0.02em;
}

.hero__subtitle {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}

.hero__accent {
  color: var(--red);
}

.hero__lastName {
  font-weight: 800;
}

.hero__avatar {
  width: fit-content;
  max-width: 50%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  user-select: none;
  pointer-events: none;
}
