.header-2 {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(255, 255, 255, 0.57);
  position: fixed;
  color: var(--text-primary);
  padding: 12px 20px;
  top: 24px;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 64px);
  max-width: 1440px;
  z-index: 999;
}

.header__logo-2 {
  height: 30px;
}

.header__icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__icon {
  height: 44px;
  width: 44px;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
  border: 1px solid rgba(255, 255, 255, 0.57);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

.header__icon::after {
  content: attr(data-text);
  text-wrap: nowrap;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 150%;
  display: none;
  color: var(--text-primary);
}

.header__icon:hover::after {
  display: block;
}

.header__icon:hover {
  transform: scale(1.2);
  border-color: var(--accent-primary);

  color: var(--accent-primary);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header-2 {
    width: calc(100% - 48px);
  }
}

@media (max-width: 768px) {
  .header-2 {
    width: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .header-2 {
    width: calc(100% - 32px);
  }
  .header__logo-2 {
    display: none;
  }

  .header__icons {
    width: 100%;
    justify-content: space-between;
  }
}
