:root {
  --primary-black: #020202;
  --primary-white: #fffffa;
  --grey: #b8b8b8;
  --red: #ff4747;
  --red-hover: #d84727;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--red);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
  animation: pop 0.5s forwards;
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
