:root {
  --primary-black: #020202;
  --primary-white: #fffffa;
  --grey: #b8b8b8;
  --red: #ff4747;
  --red-hover: #d84727;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
