:root {
  --primary-black: #020202;
  --primary-white: #fffffa;
  --grey: #7c7c7c;
  --purple: #731dd8;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
