.about__heading-content {
  text-wrap: nowrap;
}

.about__heading {
  color: var(--text-primary);
  margin: 0;
  font-size: 36px;
  line-height: 1.3;
  font-family: "AfacadFlux", sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
  grid-column: span 12;
  align-items: center;
  gap: 24px;
  align-self: start;
}

.about__content {
  grid-column: span 6;
  color: var(--text-primary);
  font-family: "AfacadFlux", sans-serif;
  align-self: start;
}

.about__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.about__content-heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4;
}

.about__career-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.about__skill {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0;
}

.about__skill-accent {
  font-weight: 600;
  color: var(--accent-primary);
}

@media (max-width: 1024px) {
  .about__heading {
    grid-column: span 6;
  }
  .about__content {
    grid-column: span 6;
  }
  .about__description,
  .about__career-content,
  .about__skill {
    margin: 24px 0;
  }
}

@media (max-width: 768px) {
  .about__heading {
    grid-column: span 2;
  }

  .about__content {
    grid-column: span 2;
  }

  .about__description,
  .about__career-content,
  .about__skill {
    margin: 16px 0;
  }
}

@media (max-width: 480px) {
  .about__heading {
    grid-column: span 1;
  }
  .about__content {
    grid-column: span 1;
  }
}
