.header {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary-white);
  letter-spacing: -0.5px;
  font-family: "Warpen";
  position: relative;
  pointer-events: none;
  user-select: none;
}

.header__nav {
  display: flex;
  gap: 2.5rem;
}

.header__link {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--primary-white);
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  letter-spacing: 0.3px;
  padding: 0;
}

.header__logo::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 45%;
  height: 2px;
  background: var(--red-hover);
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--red-hover);
  transition: width 0.3s ease;
}

.header__link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    padding: 1.5rem 1.5rem;
    flex-direction: column;
    gap: 1rem;
  }

  .header__nav {
    gap: 1.5rem;
  }
}
