.header {
  position: fixed;
  color: var(--text-primary);
  padding: 12px 20px;
  top: 24px;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 64px);
  max-width: 1440px;
  z-index: 999;
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
}

.header__logo-2 {
  height: 30px;
}

.header__icons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__icon {
  height: 44px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 16px 12px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

.header__icon:hover {
  transform: scale(1.2);
  border-color: var(--accent-primary);

  color: var(--accent-primary);
  cursor: pointer;
}

.header-mobile {
  display: none;
}

.header-mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 40px);
  }
  .header__icons {
    width: 100%;
    justify-content: space-around;
  }
  .header__logo-2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    position: fixed;
    background-color: rgba(18, 18, 18, 0.9);
    color: var(--text-primary);
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    z-index: 999;
    transition: transform 1s ease-in-out;
  }

  .header-mobile-menu {
    display: block;
    color: var(--text-primary);
    position: fixed;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    z-index: 999;
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-mobile-close {
    display: block;
    color: var(--text-primary);
    width: 40px;
    height: 40px;
    z-index: 999;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-mobile-menu:hover,
  .header-mobile-close:hover {
    cursor: pointer;
    color: var(--accent-primary);
    transform: scale(1.2);
  }

  .header-mobile_open {
    transform: translate(0);
  }

  .header-mobile_close {
    transform: translate(100dvw);
  }

  .header__icons {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
