.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  align-items: center;
  padding: 96px 5%;
  min-height: 100dvh;
  will-change: transform, opacity;
}

.section__about {
  grid-template-rows: min-content;
}

@media (max-width: 1024px) {
  .section {
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding: 80px 5%;
  }
}

@media (max-width: 768px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 64px 5%;
  }

  @media (max-width: 480px) {
    .section {
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }
}
