.section {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.section__hero {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.section__experience {
  background-color: var(--primary-white);
  color: var(--primary-black);
}

.section__metrics-footer-section {
  display: flex;
  flex-direction: column;
  background: #020202;
}
