.footer {
  color: var(--text-muted);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 20px;
  height: 25dvh;
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__link {
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: var(--text-muted);
}

.footer__link:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: var(--text-primary);
}
