.experience__heading {
  color: var(--text-primary);
  margin: 0;
  font-size: 36px;
  line-height: 1.3;
  font-family: "AfacadFlux", sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
  grid-column: span 12;
  align-items: center;
  gap: 24px;
  align-self: start;
}

.experience__heading-content {
  text-wrap: nowrap;
}

.experience__content {
  grid-column: span 12;
  color: var(--text-primary);
  font-family: "AfacadFlux", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  align-self: start;
}

.experience__panel {
  outline: 2px solid var(--background-tertiary);
  padding: 32px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.experience__tags {
  grid-column: span 6;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: start;
  gap: 8px;
}
.panel__heading {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4;
}

.panel__company-year,
.panel__role-location {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.panel__company {
  font-weight: 700;
  font-size: 28px;
}
.panel__role {
  font-weight: 600;
  font-size: 20px;
}

.panel__accent {
  color: var(--accent-primary);
}

.experience__projects {
}

.experience__project-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

.experience__project-content {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
